body{
	background-image:url(../images/banner1.jpg); 
	background-repeat:no-repeat; 
}

.yo{
	background-image:url(../malaysia.jpg); 
	background-repeat:no-repeat;
}

h1{ color: white;

}

h5{
	color: white;
}
.AA{

	color: white;
	
}
.LAB{
	background-color: white;
}